include ./navbar/unresponsive
include ./navbar/plain

include ./footer/footer-copyright
include ./footer/footer
include ./footer/footer-info

include ./elements/input.jade
include ./elements/file.jade
include ./elements/submit.jade
include ./elements/button.jade
include ./elements/button0.jade
include ./elements/button2.jade
include ./elements/textarea.jade
include ./elements/marked.jade

